[Unit]
Description=Update user Flatpak apps
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak update --noninteractive -y
