# ~/.config/systemd/user/flatpak-auto-update.timer
# Systemd timer for automated daily flatpak update
[Unit]
Description=Run daily Flatpak updates

[Timer]
# Run daily
OnCalendar=daily
# If the system was powered down when a backup should have run, run it when powered on
Persistent=true
# Randomize start time by up to 1 hour to avoid load spikes
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
